@model App_Servicos.Models.LoginSistema
@{
    ViewData["Title"] = "Login";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<center><img src="./logo.png" alt="some text" width=380 height=230></center>

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form asp-action="Index">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label asp-for="Usuario" class="text-info">Usuario:</label><br>
                                <input type="text" asp-for="Usuario" id="username" class="form-control">
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Senha" class="text-info">Senha:</label><br>
                                <input type="password" asp-for="Senha" class="form-control">
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                            <br><br><br>
                            <div>
                                <center>
                                    <button type="submit" font-size="100px" class="btn btn-primary">Login</button>&nbsp;
                                    @Html.ActionLink("Cadastrar", "CadastroUsuario", "Home", null, new { @class = "btn btn-primary"})
                                </center>
                            </div>
                            <div id="register-link" class="text-right">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
